body {
  box-sizing: border-box;
  margin: 0;
}

.block {
  padding: 30px;
  background-color: orange;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .block {
    background-color: green;
  }
}

@media screen and (min-width: 768px) {
  .block {
    background-color: blue;
    width: 750px;
  }
}

@media screen and (min-width: 1280px) {
  .block {
    background-color: yellow;
    width: 1000px;
  }
}
